{% extends "base.html" %}

{% block title %}{{ title_text }}{% endblock title %}

{% block header %}{{ title_text }}{% endblock header %}

{% block body %}
    <div class="container-fluid">
        {% block table %}{% endblock table %}
    </div>

    {% comment %} <div class="container-fluid bg-body-tertiary rounded my-3 py-3"> {% endcomment %}
    <div class="d-grid gap-2 col-3 mx-auto">
        <a class="btn btn-sm btn-info" href="{% url url_return_to_the_list_view %}" role="button">Вернуться к списку записей</a>
    </div>    
{% endblock body %}