{% extends "base.html" %}

{% block title %}{{ title_text }}{% endblock title %}

{% block header %}{{ title_text }}, [всего: {{ count_dataset }}]{% endblock header %}

{% block body %}
    <div class="container-fluid">

        <div class="container-fluid">
            {% block buttons %}{% endblock buttons %}
        </div>

        {% if count_dataset > 0 %}            
            <div class="container-fluid">
                {% include "uchet_active/pagination.html"  %}
            </div>           

            <div class="container-fluid">
                {% block table %}{% endblock table %}
            </div>

            <div class="container-fluid">
                {% include "uchet_active/pagination.html"  %}
            </div>
        {% else %}
            <h2>Реестр "{{ title_text }}" пуст</h2>
        {% endif %}

    </div>
{% endblock body %}
