{% extends "base.html" %}

{% block title %}{{ title_text }}{% endblock title %}

{% block header %}{{ title_text }}, [всего: {{ count_dataset }}]{% endblock header %}

{% block body %}
    <div class="container-fluid">

        <div class="container-fluid">
            {% block buttons %}{% endblock buttons %}
        </div>

        {% if count_dataset > 0 %}            
            <div class="container-fluid">
                {% comment %} {% include "uchet_active/pagination.html"  %} {% endcomment %}
                {% include "uchet_active/pagination_filter.html"  %}
            </div>           

            <div class="container-fluid">
                {% block table %}{% endblock table %}
            </div>

            <div class="container-fluid">
                {% comment %} {% include "uchet_active/pagination.html"  %} {% endcomment %}
                {% include "uchet_active/pagination_filter.html"  %}
            </div>
        {% else %}
            <h2>Реестр "{{ title_text }}" пуст, либо по условиям фильтрации записи не найдены.</h2>
            <div class="d-grid gap-2 col-3 mx-auto">
                <a class="btn btn-sm btn-info" href="{% url url_return_to_the_list_view %}" role="button">Вернуться к списку записей</a>
            </div>
        {% endif %}

    </div>
{% endblock body %}
