{% extends "uchet_active/detailview.html" %}

{% block table %}
        <table class="table table-striped table-hover table-bordered border-primary text-center">
            <thead class="table-primary">
                {% comment %} <tr class="title_table"><th colspan="4">{{ title_text }}</th></tr> {% endcomment %}
                <tr>
                    <th class="idClass" scope="col">id</th>
                    <th scope="col">Тип актива</th>
                    <th scope="col">Производитель</th>
                    <th scope="col">Модель</th>

                    {% comment %} <th scope="col"></th> {% endcomment %}
                </tr>
            </thead>
            <tbody>                    
                <tr>
                    <th class="idClass" scope="row">{{ data.id }}</th>
                    <td>
                        <div class="d-grid gap-2">
                            <a class="btn btn-sm btn-outline-primary" href="{{ data.type_active.get_absolute_url }}" role="button">{{ data.type_active }}</a>
                        </div>
                    </td>
                    <td>{{ data.manufacturer }}</td>
                    <td>{{ data.name_model }}</td>

                    {% comment %} <td>                                    
                        <a class="btn btn-sm btn-warning" href="{% url 'reestr_tmts_update' id=data.id %}">Изменить  &raquo;</a>
                        <a class="btn btn-sm btn-danger" href="{% url 'reestr_tmts_delete' id=data.id %}">Удалить  &raquo;</a>
                    </td> {% endcomment %}
                </tr>                    
            </tbody>
        </table>        
{% endblock table %}