{% extends "uchet_active/delete.html" %}

{% block table %}
    <table class="table table-striped table-hover table-bordered border-primary text-center">
        <thead class="table-primary">
            <tr>
                <th class="idClass" scope="col">id</th>
                <th scope="col">Реквизиты документа</th>
                <th scope="col">Инвентарный номер</th>
                <th scope="col">Модель актива</th>
                <th scope="col">Локация/Склад</th>
                <th scope="col">Количество</th>
                <th scope="col">Ед.изм-я</th>                        
                <th scope="col">S/N</th>
                <th scope="col">Комментарий</th>
                <th scope="col">Дата создания</th>
                <th scope="col">Кем изменено/создано</th>
                <th scope="col">Дата изменения</th>
            </tr>
        </thead>
        <tbody>                    
            <tr>
                <th class="idClass" scope="row">{{ data.id }}</th>
                <td>{{ data.details_document_active }}</td>                
                <td>{{ data.inventory_number }}</td>                
                <td>{{ data.name_active }}</td>                
                <td>{{ data.location_active }}</td>                
                <td>{{ data.quantity }}</td>
                <td>{{ data.name_quantity_active }}</td>                    
                <td>{{ data.serial_number }}</td>
                <td>{{ data.comment }}</td>
                <td>{{ data.created }}</td>
                <td>{{ data.creator_account }}</td>
                <td>{{ data.updated }}</td>
            </tr>                    
        </tbody>
    </table>
{% endblock table %}